/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
  	.slicknav_menu{display:block;}
  	.mainmenu {display: none;}
	.single-portfolio {margin-top: 30px;width: 100%;}
	.slide-text > h1 {font-size: 55px;}
	.section-title h1::before {left: 17%;}
	.section-title h1::after {left: 55%;}
	.portfolio-menu li {margin-right: 0;padding: 3px 4px;}




    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
 	.slicknav_menu{display:block;}
 	.mainmenu {display: none;}
	.single-portfolio {margin-top: 30px;width: 100%;}
	.slide-text > h1 {font-size: 55px;}
	.section-title h1::before {left: 17%;}
	.section-title h1::after {left: 55%;}
	.portfolio-menu li {margin-right: 0;padding: 3px 4px;}

}