/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Open+Sans:300,400,600,700');

/* 
    font-family: 'Pacifico', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;


*/
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }
body {
font-family: 'Open Sans', sans-serif;
font-size: 14px;
}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.slicknav_menu{display:none;}
.slicknav_menu {
  position: absolute;
  right: 10px;
  z-index: 999;
  background:none;
  top: 33px;
}

.slicknav_btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.slicknav_menutxt {
    display: none !important;
}
.slicknav_nav {
    background: #333 none repeat scroll 0 0;
    min-width: 250px;
}


.single-homepage-slide {
  background-image: url(img/slider1.jpg);
  background-repeat: no-repeat;
  background-position: cover
  background-position:center center;
}
.header-area {
    position: relative;
}
.header-absolute {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
.logo a {
    color: #fed136;
    font-family: Pacifico,sans-serif;
}
.logo > h1 {
    font-size: 24px;
    margin: 0;
    padding: 45px 0;
}
.mainmenu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmenu li {
    display: inline-block;
    position: relative;
}
.mainmenu a {
color: #fff;
display: block;
font-family: Lato;
font-size: 12px;
font-weight: 400;
padding: 50px 20px;
text-transform: uppercase;
}
.mainmenu li.active > a {
    border-top: 2px solid #4c76ff;
}
.mainmenu li > a:hover {
    border-top: 2px solid #4c76ff;
}

.slide-text {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 380px;
    margin-top: 100px;
}
.single-homepage-slide {
    background-color: #ebf0f3;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
}
.slide-item-tablecell {
    
    padding-top: 85px;
    
}

.slide-text h2 {
  font-family: lato;
  font-size: 48px;
  font-weight: 300;
}
.slide-text > h1 {
  font-family: Lato;
  font-size: 62px;
  font-weight: 900;
}
.slide-text span {
  color: #4c76ff;
}
.slide-text > p {
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
}

.home-slider-social ul {
    list-style: outside none none;
    margin: 45px 0 0;
    padding: 0;
}
.home-slider-social > ul li {
    display: inline-block;
    margin-right: 18px;
}
.home-slider-social i {
    color: #8f8687;
    font-size: 26px;
}
.home-slider-social i:hover {
    color: #fff;
}
.slide-text > p::before {
background-color: #4c76ff;
content: "";
height: 1px;
left: 35%;
margin-top: 16px;
position: absolute;
width: 28px;
}
.slide-text > p::after {
  background-color: #4c76ff;
  content: "";
  height: 1px;
  left: 63%;
  margin-top: 16px;
  position: absolute;
  width: 28px;
}

.homepage-slides .owl-nav div {
    color: #8f8687;
    font-size: 50px;
    left: 30px;
    position: absolute;
    top: 50%;
}
.homepage-slides .owl-next {
    left: auto !important;
    right: 30px;
}

/*features-area*/

.features-area {
    background-color: #efefef;
    padding-bottom: 120px;
}
.section-title h1 {
    color: #4c76ff;
    font-family: lato;
    font-size: 28px;
    font-weight: 900;
}
.section-title p {
  margin-top: 30px;
}
.section-title h1::before {
background-color: #d7dadc;
content: "";
height: 1px;
left: 40%;
margin-top: 56px;
position: absolute;
width: 90px;
z-index: 1;
}
.section-title h1::after {
background-color: #d7dadc;
content: "";
height: 1px;
left: 52%;
margin-top: 56px;
position: absolute;
width: 90px;
}

.single-features-item i {
    border: 2px solid #4c76ff;
    border-radius: 50%;
    color: #4c76ff;
    float: left;
    font-size: 20px;
    height: 40px;
    margin-right: 15px;
    padding: 9px;
    width: 40px;
}
.single-features-item > h3 {
    font-family: Open Sans;
    font-weight: 600;
}
.single-features-item.text-left > p {
    font-family: open sans;
    margin-left: 55px;
}


/*service area*/
.section-title {
    margin-bottom: 80px;
    padding-top: 120px;
}

.single-service-item i {
    color: #e1e1e1;
    float: left;
    font-size: 30px;
    margin-right: 40px;
}
.single-service-item > h3 {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
}
.single-service-item > p {
    font-family: Open Sans;
    margin-left: 63px;
    margin-top: 20px;
}
.single-service-item {
    margin-bottom: 90px;
}
.single-service-item:hover {
    background-color: #fefce9;
    padding1: 10px;
}
.single-service-item.service-img > img {
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
}
.single-service-item.service-img:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
}

/*portfolio*/
.portfolio-area {
    background-color: #eee;
    padding-bottom: 120px;
}
.portfolio-menu > ul {
    list-style: outside none none;
    margin: 0 0 80px;
    padding: 0;
}
.active {
}
.portfolio-menu li {
    cursor: pointer;
    display: inline-block;
    margin-right: 30px;
    padding: 3px 10px;
}
.portfolio-menu li.active, .portfolio-menu li:hover {
    background: #4c76ff none repeat scroll 0 0;
    color: #fff;
}
.portfolio-item {
    position: relative;
    padding: 0;
}
.portfolio-overlay {
    background-color: #4c76ff;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.portfolio-overlay:hover{opacity: 0.9;} 


.position-center-center {
    color: #fff;
    left: 20%;
    position: absolute;
    text-align: center;
    top: 30%;
}
.position-center-center i {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    height: 30px;
    padding: 5px;
    width: 30px;
}
.position-center-center > h3 {
    color: #fff;
    font-family: Open Sans;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}
.position-center-center > h3 a {
    color: #fff;
}
.portfolio-image img {
  background-repeat: no-repeat;
}

/*our team area*/

.single-team-member img {
    background-color: #ddd;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100%;
    height:auto;
}
.team-image {
  position: relative;
}
.single-team-member h4 {
    font-family: open sans;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
.single-team-member p {
    font-family: open sans;
    font-size: 14px;
    font-weight: 300;
}
.team-overlay {
    background-color: #4c76ff;
    color: #fff;
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}
.team-overlay:hover{
    opacity: 0.9;
    transition: 0.4 ease 
}
.team-caption {
    position: relative;
    z-index: 2;
}
.team-image {
    position: relative;
}
.team-overlay h5 {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
}

.team-overlay ul {
    list-style: outside none none;
    padding: 0;
}
.team-overlay li {
    background-color: #3b57b1;
    display: inline-block;
    padding: 8px 9px;
}
.team-overlay i {
    color: #fff;
}
.team-caption:hover{
    color: #32BA9C;
}
.single-team-member {
  margin-bottom: 110px;
}

/*fun*/
.fun-counter {
  background-color: #0eb493;
  background-image: url("img/fun-bg.jpg");
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.fun-counter::before {
    background-color: #333;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}

.main_counter_area.text-center {
    color: #fff;
}
.single_counter_item i {
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 30px;
    height: 90px;
    padding: 28px;
    width: 90px;
}
.single_counter_item h2 {
    font-size: 44px;
    margin-top: 40px;
}
.single_counter_item h3 {
    font-family: Open Sans;
    font-size: 14px;
    padding-bottom: 120px;
    text-transform: uppercase;
}
/*contact us*/
.contact-us-form > h3 {
  margin-bottom: 40px;
  margin-left: 15px;
}
.contact-area button {
  background: transparent none repeat scroll 0 0;
  margin-bottom: 50px;
}
.contact-area button i {
  color: #4c76ff;
  margin-right: 10px;
}
.contact-social ul {
  list-style: outside none none;
  padding: 0;
}

.contact-social i {
    color: #cdd2d6;
    font-size: 20px;
}
.contact-social li {
    margin-bottom: 20px;
}


/*map*/
.map iframe {
  max-width: 100%;
  width: 100%;
}

/*footer*/
.footer {
  background-color: #010305;
  color: #fff;
  margin-top: -4px;
}

.footer-header, .footer-logo {
    padding-top: 35px;
}
.footer-logo p {
    font-family: lato;
    font-weight: 300;
    margin-top: 30px;
}
.footer-link {
    list-style: outside none none;
    padding: 0;
}
.footer-link a {
    color: #fff;
    font-family: open sans;
    font-size: 14px;
    font-weight: 300;
}
.footer-link > li {
    display: inline-block;
    margin-bottom: 10px;
    width: 40%;
}
.footer-subscribe {
    position: relative;
}
.btn.subscribe-btn {
    background-color: transparent;
    color: #757677;
    font-weight: 300;
    position: absolute;
    right: 10px;
    top: 0;
}
.footer-subscribe input {
    background: #010305 none repeat scroll 0 0;
    border: 2px solid #fff;
    height: 40px;
    margin-top: 30px;
}

.btn.subscribe-btn i {
    padding: 5px;
}
